
writing/2019 CogSci/prior-inference-CogSci.ps

writing/2019 CogSci/prior-inference-CogSci.pdf

writing/2019 CogSci/prior-inference-CogSci.log

writing/2019 CogSci/prior-inference-CogSci.dvi

writing/2019 CogSci/prior-inference-CogSci.blg

writing/2019 CogSci/prior-inference-CogSci.aux
experiments/1-pilot/Submiterator-master/.DS_Store
experiments/3-pilot-utterance-choice/Submiterator-master/.DS_Store
writing/2019 XPrag/XPrag2019-ambiguity.ps
writing/2019 XPrag/XPrag2019-ambiguity.log
writing/2019 XPrag/XPrag2019-ambiguity.dvi
