
writing/2019 CogSci/prior-inference-CogSci.ps

writing/2019 CogSci/prior-inference-CogSci.pdf

writing/2019 CogSci/prior-inference-CogSci.log

writing/2019 CogSci/prior-inference-CogSci.dvi

writing/2019 CogSci/prior-inference-CogSci.blg

writing/2019 CogSci/prior-inference-CogSci.aux
experiments/1-pilot/Submiterator-master/.DS_Store
experiments/3-pilot-utterance-choice/Submiterator-master/.DS_Store
writing/2019 XPrag/XPrag2019-ambiguity.ps
writing/2019 XPrag/XPrag2019-ambiguity.log
writing/2019 XPrag/XPrag2019-ambiguity.dvi
experiments/7-mutual-understanding/Submiterator-master/.DS_Store
.Rproj.user
experiments/8-preference-type/Submiterator-master/preference-type-workerids.csv
*.hits
writing/2019_journal_paper/prior-inference-CogSci.log
writing/2019_journal_paper/prior-inference-CogSci.aux
writing/2019_journal_paper/prior-inference-CogSci.synctex.gz
writing/2019_journal_paper/prior-inference-CogSci.aux
